.DS_Store
*.idea
*.pyc
*.xls
*.xlsx
*.doc
*.docx
*.png
*.sh
__pycache__
**/__pycache__
.idea

#Dockerfile
#.dockerignore
#docker

scratch
notes_to_suppress.md

scratch/mpj_download.csv
data/mpj_website_compensation.csv
data/mpj_website_constancy.csv
data/mpj_website_contribution.csv
data/mpj_website_creation.csv
data/mpj_website_q2_index.csv

desktop.ini